/** by Riccabona eSolutions, https://www.Riccabona.IT/ **/

/** make the whole container somehow responsive/floating **/
#container {
  width:90% !important;
}

/** take 100% of viewport on smaller screens **/
/** for proper working on mobile devices, you have another small change to make at osticket core. **/
/** Add viewport metatag in yourosticketroot/include/staff/header.inc.php **/
/** Somewher in the top, where the metatags are plublished, add the following (without comment): **/
/** <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, user-scalable=yes" /> **/

@media only screen and (max-width: 750px) {
  #container {
    width:100% !important;
  }
  /** break tables on small displays ...
      very rough style, but due to the fact that there is no skinning api and
      they are using tables that seems the fastest solution to that, without touching the core
   **/
  tr {
    display: flex !important;
    flex-wrap: wrap !important;
    width: 100% !important;
  }
  th, td {
    display: block !important;
    width: 100% !important;
    text-align:center;
    height:auto;
    white-space:normal;
  }
  .truncate {
    white-space:normal !important;
    height:auto !important;
    max-height:3em !important;
    overflow:auto !important;
  }
  /** kill sticky bar on small devices **/
  .sticky.bar.fixed {
    display:none !important;
    visibility:hidden !important;
    position:absolute !important;
    top: -10000px;
  }
}

/** let some tables grow **/
table.list {
  width:100%;
}

table.ticket_info {
  width:100%;
  max-width:960px;
}

/** remove awful fat lines around focused inputs. **/
.input.attached.focus {
  outline-width:0px !important;
}

/** remove border, optical spam **/
.tixTitle.has_bottom_border {
  border-bottom:0px !important;
}

/** make header break and grow in height **/
#header {
  border:0px !important;
  height:auto !important;
}

/** make breaking logo growing header **/
#logo {
  display:inline !important;
}

/** small optical issue: give main-nav slightly different gray **/
#nav {
  background:#CCC !important;
}

/** make nav break and grow in height on small screens **/
#nav, #sub_nav {
  height:auto !important;
  white-space:normal !important;
}

/** remove borders, optical spam **/
#nav, #sub_nav, #content {
  border:0px !important;
}

/** get rid of these awful fat lines around searchbox if it gets focus **/
#header, #nav li.active, #nav li.inactive:hover, ul.tabs {
  box-shadow: none !important;
}

div.content {
  max-width: 100% !important;
}

/** remove bad looking 2px borders in bottom of thread-entry and remove at least there the border-radius **/
.thread-entry .thread-body {
  border-bottom:1px solid #ddd !important;
  border-radius:0px !important;
}
